<!-- Mission and Vision Section -->
<section class="mission-vision-section py-5">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h2 class="section-title text-center mb-5">Salud Bolívar IPS</h2>
      </div>
    </div>
    <div class="row g-4">
      <!-- Mission -->
      <div class="col-lg-6">
        <div class="mission-vision-card h-100 p-4">
          <div class="icon-container mb-3">
            <img
              src="https://d9hhrg4mnvzow.cloudfront.net/www.saludbolivarips.com/sobre-nuestra-ips/ab994270-goal_1000000000000000000028.png"
              alt=""
              data-src-desktop-1x="https://d9hhrg4mnvzow.cloudfront.net/www.saludbolivarips.com/sobre-nuestra-ips/ab994270-goal_1000000000000000000028.png"
              data-src-mobile-1x="https://d9hhrg4mnvzow.cloudfront.net/www.saludbolivarips.com/sobre-nuestra-ips/ab994270-goal_1000000000000000000028.png"
              srcset="">
          </div>
          <h3 class="card-title mb-3">Nuestra Misión</h3>
          <p class="card-text">
            Enriquecemos la vida de nuestros usuarios con integridad a través de servicios de bienestar y salud,
            mejorando su calidad de vida con enfoque en gestión de riesgo, resolutividad en los modelos
            de atención y sostenibilidad financiera.
          </p>
        </div>
      </div>

      <!-- Vision -->
      <div class="col-lg-6">
        <div class="mission-vision-card h-100 p-4">
          <div class="icon-container mb-3">
            <img
              src="https://d9hhrg4mnvzow.cloudfront.net/www.saludbolivarips.com/sobre-nuestra-ips/08e21a39-care-of-heart.svg"
              alt=""
              data-src-desktop-1x="https://d9hhrg4mnvzow.cloudfront.net/www.saludbolivarips.com/sobre-nuestra-ips/08e21a39-care-of-heart.svg"
              data-src-mobile-1x="https://d9hhrg4mnvzow.cloudfront.net/www.saludbolivarips.com/sobre-nuestra-ips/08e21a39-care-of-heart.svg"
              srcset="">
          </div>
          <h3 class="card-title mb-3">Nuestra Visión</h3>
          <p class="card-text">
            Para el 2026, BOLÍVAR SALUD IPS S.A.S. quiere ser reconocida como una Empresa líder en la prestación
            de servicios integrales de salud, brindado a los usuarios y sus familias una atención segura,
            accesible, oportuna, pertinente y que genere una experiencia memorable.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
